---
interface Props {
  name: string;
  tagLine: string;
  start: string;
  end: string;
  company: string;
  logo: string;
}

const {name, tagLine, start, end, company, logo} = Astro.props;
---
<div class="p-4">
  <div class="text-xl font-bold">{name}</div>
  <span>{tagLine}</span>
  <span class="text-xs flex justify-center items-center gap-0.5 text-gray-400">
    <span>{start}</span> - <span>{end}</span>
  </span>
  <div class="w-9 h-9 flex justify-center items-center gap-0.5">
    <span>{company}</span>
    <img src={logo} alt=`${company}-logo`/>
  </div>

</div>
